#e_tgl_registrasi, #i_tgl_registrasi {
    background-color: #FFF;
}
.act-button {
    height: 28px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sidenav, .navbar-vertical.navbar-expand-xs {
    z-index: 10;
}